*{
    margin: 0;
    padding: 0;
}
.scrollable::-webkit-scrollbar{
    display: none;
}
.mainBody{
    width: 101%;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    box-sizing: border-box;
    position: relative;
    background-size: 150% 160%;
    animation: gradientAnimation 4s ease infinite;
}
.homeDiv{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    position: relative;
    width: 95%;
    height:250px;
    border-radius: 40px;
    padding: 20px;
    color: white;
    border: 1px solid black;
    background-size: 160% 140%;
    animation: gradientAnimation 4s ease infinite;
    transition: all;
    transition-duration: 2s;
}

.homeDiv:hover,.homeDiv:focus{
    box-shadow: 12px 12px 12px 12px #054961;
    color: black;
    background: wheat;
    transition: 0.75s ease;

}
.homeDiv:active{
    transition: 100ms;
    background-color: wheat;
    box-shadow: none;
    transform: translateY(10px);
}
@keyframes gradientAnimation{
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}


.topBar{
    width: 100%;
    height: 15vh;
    display: flex;
    margin: auto auto 15vh;
    align-items: center;
}

.logo{
    padding-top: 10vh;
    width: 160px;
    cursor: pointer;
}

.logout{
    -webkit-text-fill-color: white;
    padding-top: 3.174%;
    width: 30px;
    cursor: pointer;
}

topList{
    padding-top: 50px;
    flex: 1;
    padding-left: 4.76px;
}

topList ul li{
    display: inline-table;
    list-style: none;
    margin: 0 20px;
}

topList ul li a{
    height: 220vh;
    font-weight: bolder;
    font-family: "Gill Sans MT", serif;
    text-decoration: aliceblue;
    color: white;
}

topList ul li a:hover{
    cursor: pointer;
    color: #051937;
    transition: 0.5s;
}

topList ul li a:active{
    color: silver;
}

#homeBody{
    height: 450vh;
    width: 100%;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    padding-left: 1%;
    padding-right: 2%;
    box-sizing: border-box;
    position: relative;
    background-size: 150% 170%;
    animation: gradientAnimation 4s ease infinite;
}




.yesClick{
    border-radius: 20px;
    height: 300px;
    background-image:linear-gradient(to right top,white,wheat,navajowhite);
    color: #051937;
    padding: 20%;
    font-family: "BankGothic Lt BT", serif;
}

.noClick{
    border-radius: 20px;
    height: 100px;
    color: white;
    font-family: "BankGothic Lt BT", serif;
}

.log_click{
    border-radius: 50px;
    height: 20px;
    background-image: linear-gradient(to left, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    color: black;
    padding: 20%;
    font-family: "BankGothic Lt BT";
    background-size: 700%;
    transition: background-position 1s;
    border: 2px solid black;
}

.log_click:hover{
    color: white;
    border: 2px solid white;
    background-position: top;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-top: 20px solid #ffffff;
}

.pay_button{

    text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #f09,
            0 0 80px #f09,
            0 0 90px #f09,
            0 0 100px #f09,
            0 0 150px #f09;
    background: wheat;
    height: 30px;
    color: black;
    width: 100px;
    border-radius: 50px;
    text-align: center;
    padding-top: 10px;
    transition: all;
}

.pay_button:hover {
    background-image: linear-gradient(to right top,	rgb(230, 0, 108),rgb(230, 0, 170),	rgb(198, 0, 240),rgb(170, 0, 240),rgb(100, 0, 250),rgb(64, 0, 255));
    color: white;
    border: 1px solid #004d7a;
    box-shadow: 7px 7px 12px black;
    transition: 0.5s ease;

}
.pay_button:active{
    transform: translateY(10px);
}

.googleApple{
    transition: all;
}
#google:hover{
    box-shadow: 5px 5px 5px 5px white;
}
#google:active,#apple:active{
    transform: translateY(5px);
    box-shadow: none;
}
.googleApple:hover {
    transition: 0.25s ease-in-out;
    transform: translateY(-10px);
}

#apple:hover{
    box-shadow: 5px 5px 5px 5px black;
}
